<div class="console" #console>
    <div class="command" *ngFor="let item of history">
        {{item.command}}
        <div class="logs">
            <div  [innerHTML]="log.output"  [class.error]="log.type === 'error'" [class.info]="log.type === 'info'" *ngFor="let log of item?.logs">
            </div>
        </div>
    </div>

    <div class="command" *ngIf="current">
        {{current?.command}}

        <div class="logs">
            <div class="log" [class.error]="log.type === 'error'" [class.info]="log.type === 'info'"
            [innerHTML]="log.output"    *ngFor="let log of current?.logs">
            </div>
        </div>
    </div>
</div>