.bg {
  background: url("/apps.svg") no-repeat bottom left;
  background-position-x: calc(40px);
  background-size: 220px;
  border-bottom: 5px solid #dfc768;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: block;
  content: " ";
}

.apps {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 175px);
  padding: 0 30px;
  text-align: center;
}

.app {
  display: inline-block;
  width: 260px;
  vertical-align: top;
  background: #222;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 0 10px #000;
  line-height: 24px;
  white-space: normal;
  overflow: hidden;
  max-height: calc(100vh - 260px);
  text-align: start;
  
  &:hover {
    overflow-y: auto;
  }

  .title {
    padding: 10px;
    img {
      display: inline-block;
      width: 40px;
      vertical-align: middle;
      max-height: 40px;
      margin-right: 10px;
    }
  }
  p.desc {
    padding: 10px;
    line-height: 20px;
    min-height: 40px;
  }

  .chart {
    > div {
      margin-left: -60px;
    }
  }

  ul {
    padding: 10px;
  }

  .buttons {
    padding: 0 5px;
    font-size: 11px;
    button {
      margin-right: 10px;
      line-height: 30px;
      padding: 0 5px;
      border: 1px solid #555;
      margin: 5px;
      display: inline-block;
      img {
        margin-bottom: 3px;
        margin-right: 5px;
        filter: invert(1);
        height: 12px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .mounts {
    padding: 0;
    padding-left: 5px;
    li {
      input {
        color: #eee;
        background: none;
        border: none;
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .variables {
    padding: 0;
    li {
      border: none;
    }
    input {
      display: block;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      background: #111;
      box-sizing: border-box;
      border: none;
      color: #ccc;
    }
  }
}
