@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&display=swap");

.logo {
  color: #fff;
  width: 200px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-family: "Turret Road", cursive;
    font-weight: 300;
    font-size: 30px;
  }
  small {
    display: block;
    font-size: 9px;
    font-weight: 100;
  }
  img {
    margin: 0 auto;
    height: 40px;
    display: block;
    padding-right: 4px;
  }
}
