.loading {
  min-height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;

  app-loading {
    margin: 0 auto;
  }
}

.node {
  min-height: calc(100vh - 130px);
  margin-top: 40px;
}


