<div class="box">

  <div class="title">

    <img *ngIf="model?.general?.os?.distro?.toLowerCase() === 'ubuntu'" src="assets/logos/ubuntu-original.svg" alt="">
    <img *ngIf="model?.general?.os?.distro?.toLowerCase() === 'redhat'" src="assets/logos/redhat-original.svg" alt="">
    <img *ngIf="model?.general?.os?.platform?.toLowerCase() === 'windows'" src="assets/logos/windows-original.svg"
      alt="">
    {{model?.general?.system?.version}}
    {{model?.general?.system?.virtual ? '(VIRTUAL)': ''}}

  </div>

  <div class="actions">

    <button [class.active]="shellService.tab === 'general'" (click)="shellService.tab = 'general'">
      <img src="assets/icons/solid/info-circle.svg" alt="">
      Info
    </button>

    <button [class.active]="shellService.tab === 'console'" (click)="shellService.tab = 'console'">
      <img src="assets/icons/solid/terminal.svg" alt="">
      Console
    </button>

    <button [class.active]="shellService.tab === 'docker'" (click)="shellService.tab = 'docker'">
      <img src="assets/icons/brands/docker.svg" alt="">
      Docker
    </button>

    <button>
      <img src="assets/icons/solid/download.svg" alt="">
      Backup
    </button>

    <button>
      <img src="assets/icons/solid/network-wired.svg" alt="">
      Network
    </button>

    <button>
      <img src="assets/icons/solid/shield-alt.svg" alt="">
      Firewall
    </button>

    <button>
      <img src="assets/icons/solid/mail-bulk.svg" alt="">
      Mailing
    </button>


    <button>
      <img src="assets/icons/solid/fire-extinguisher.svg" alt="">
      Alerting
    </button>


  </div>

  <div class="loading" *ngIf="!model?.general?.os">
    <app-loading></app-loading>
  </div>

  <app-console [model]="model" *ngIf="shellService.tab === 'console'"></app-console>
  <app-node-info [model]="model" *ngIf="shellService.tab === 'general' && model?.general?.os"></app-node-info>
  <app-node-docker [model]="model" *ngIf="shellService.tab === 'docker' && model?.general?.os"></app-node-docker>

</div>