<div class="page">

  <header>

    <div class="container">
      <div class="logo">
        SHELLOPS
      </div>
    </div>

  </header>


  <div class="login">

  </div>


  <div class="nodes">
    <div class="container">
      <div class="node">
        <div class="title">
          Local System
        </div>

        <ul>

          <li>
            Memory:
            <span>
              {{general?.memory[0]?.size | bytes : 2}}
            </span>
          </li>

          <li>
            OS:
            <span>
              {{general?.os?.platform }}
              {{general?.os?.distro }}
              {{general?.os?.release }}
            </span>
          </li>

          <li>
            Hostname:
            <span>
              {{general?.os?.hostname}}
            </span>

          </li>

          <li>
            Kernel:
            <span>
              {{general?.os?.kernel}}
            </span>
          </li>

          <li>
            CPU:
            <span>
              {{general?.cpu?.brand}}, {{general.cpu.cores}} Cores - {{general.cpu.speedmax}} GHZ
            </span>
          </li>




        </ul>

      </div>
    </div>

  </div>



  <router-outlet></router-outlet>





</div>