aside {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  box-sizing: border-box;

  &.second {
    padding: 0;
    width: calc(100% - 480px);
  }
}

.map {
  margin: 45px auto;

  img {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
}

.page {
  padding: 30px;
}
