<section class="box">

    <div class="title">
        Installed Apps
    </div>

    <div *ngFor="let container of containers" class="app">

        <div class="title">

            <img *ngIf="container.app?.logo" [src]="container.app?.logo" alt="">

            <span *ngIf="container.app">
                {{container.app.name}} {{container.app.version}}
            </span>

            <span *ngIf="!container.app">
                {{container.Names[0]?.replace('/','')}}
            </span>

        </div>


        <div class="stats">



        </div>

        <div class="buttons">
            <button (click)="removeContainer(container.Id)">
                <img src="assets/icons/solid/trash-alt.svg" alt="">
                Uninstall
            </button>

            <button *ngIf="!shellService.realtime[container.Id]?.container?.State.Paused"
                (click)="removeContainer(container.Id)">
                <img src="assets/icons/solid/pause.svg" alt="">
                Stop
            </button>

            <button *ngIf="shellService.realtime[container.Id]?.container?.State.Paused"
                (click)="removeContainer(container.Id)">
                <img src="assets/icons/solid/play.svg" alt="">
                Start
            </button>

        </div>



        <ul *ngIf="container">

            <li>
                Status:
                <span>
                    {{shellService.realtime[container.Id]?.container?.State?.Status }}
                </span>
            </li>

            <li>
                Uptime: <span>{{container.Status}}</span>
            </li>

            <li>
                Memory Usage:
                <span>
                    {{shellService.realtime[container.Id]?.stats?.memory_stats?.usage | bytes: 2}}
                </span>

                <div class="memory">
                    <ngx-charts-line-chart [legend]="false" [view]="[260,40]" [scheme]="'cool'" [showXAxisLabel]="false"
                        [showYAxisLabel]="false" [showGridLines]="false" [animations]="false"
                        [results]="shellService.memoryCharts[container.Id] || []">
                    </ngx-charts-line-chart>
                </div>

            </li>

            <li>
                CPU Usage

                <div class="memory">
                    <ngx-charts-line-chart [legend]="false" [view]="[260,40]" [scheme]="'cool'" [showXAxisLabel]="false"
                        [showYAxisLabel]="false" [showGridLines]="false" [animations]="false"
                        [results]="shellService.cpuCharts[container.Id] || []">
                    </ngx-charts-line-chart>
                </div>

            </li>

            <li>
                Image: <span>{{container.Image}}</span>
            </li>

            <li>
                Created At: <span>{{container.Created | mdate}}</span>
            </li>

            <li *ngIf="container?.Ports?.length">
                Ports:
                <ul>
                    <li *ngFor="let item of container.Ports">
                        <span> {{item.PrivatePort || 'N/A'}} </span> ->
                        <span> {{item.PublicPort || 'N/A'}}</span>
                    </li>
                </ul>
            </li>
            <li *ngIf="container?.Mounts">
                Mounts:
                <ul>
                    <li *ngFor="let item of container.Mounts">
                        <span> {{item.Source || 'N/A'}} </span> ->
                        <span> {{item.Destination || 'N/A'}}</span>
                    </li>
                </ul>
            </li>


            <ul class="variables">
                <li *ngFor="let item of container.app?.variables">
                    <label for="">{{item.name}}</label>
                    <input type="text" readonly [value]="item.value">
                </li>
            </ul>

        </ul>
    </div>
</section>