.app {
  display: inline-block;
  width: 260px;
  vertical-align: top;
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 0 3px #000;

  p.desc {
    padding: 10px;
    line-height: 20px;
    min-height: 40px;
  }

  .buttons {
    padding: 0 5px;
    font-size: 11px;
    button {
      margin-right: 10px;
      line-height: 30px;
      padding: 0 5px;
      border:1px solid #555;

      img {
        margin-bottom: 3px;
        filter: invert(1);
        height: 12px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .variables {
    li {
      border: none;
    }
    input {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      background: #111;
      box-sizing: border-box;
      border: none;
      color: #ccc;
    }
  }
}
