<div class="node-card" *ngFor="let node of shellService.nodes" [routerLink]="'/nodes/' + node.host + '/info'">


   
    
    <div class="title">

        <img
            [src]="'https://hatscripts.github.io/circle-flags/flags/'+ (node?.geoIp?.countryCode?.toLowerCase() || 'xx') +'.svg'" />

        {{node?.host}}


    </div>

    <ul *ngIf="!node?.general">
        <li>
            Connecting to ssh server ...
        </li>
    </ul>

    <ul *ngIf="node?.general">
        <li>
            {{node?.general?.os?.distro}}
            {{node?.general?.os?.release}}</li>

        <li>{{node?.geoIp?.isp || 'N/A'}} {{[node?.geoIp?.city,node?.geoIp?.country].join(', ') || 'N/A' }}</li>

        <li>
            CPU: {{node?.general?.cpu.cores}} Cores - {{node?.general?.cpu.speedmax || node?.general?.cpu.speed}}
            GHZ
            <br>
            Memory: {{node?.general?.memories[0]?.size | bytes:2}}
            <br>
            Disk: {{node?.general?.disks[0]?.size | bytes:2}}

        </li>
    </ul>

</div>