/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import "reset.scss";

body {
  font-family: "Ubuntu Mono", monospace;
  font-size: 13px;
  background: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.invert {
  filter: invert(1);
}

.box {
  width: 100%;
  border-radius: 0 15px 15px 15px;
  margin-bottom: 30px;
  padding: 5px 10px 10px 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #333;
  text-align: start;
  color: #999;

  hr {
    margin: 15px auto;
    border: none;
    border-bottom: 1px solid #777;
    background: none;
  }

  .actions {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 40px;
    background: #fff;
    border-radius: 15px 0 0 15px;
    background: #444;

    border-right: none;
    button {
      width: 40px;
      border: none;
      margin-right: 5px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 7px;
      line-height: 16px;
      background: none;
      padding: 5px 8px 0 8px;
      text-align: center;
      color: #aeaeae;
      margin: 5px 0;

      &.active {
        color: #fff;
      }

      img {
        opacity: 0.7;
        height: 20px;
        margin: 0 auto;
        display: block;
        filter: invert(1);
      }
    }
  }

  .title {
    font-weight: bold;
    color: #999;
    font-size: 15px;
    line-height: 40px;

    small {
      font-size: 11px;
      font-weight: 100;
    }

    img {
      width: 30px;
      max-height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  ul {
    li {
      font-size: 13px;
      display: block;
      padding: 5px;
      border-bottom: 1px solid #777;
      font-weight: bold;
      line-height: 24px;

      .inline {
        display: inline-block;
        vertical-align: top;
      }
      span {
        color: #fff;
        font-weight: 500;

        img {
          height: 16px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      ul {
        padding-left: 15px;
        li {
          border-bottom: none;
          padding: 0;
          line-height: 18px;
          font-size: 11px;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    li.versions {
      .icon {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        box-sizing: border-box;

        padding: 5px;
        border-radius: 10px;
        line-height: 18px;
        img {
          max-height: 30px;
          max-width: 30px;
          min-height: 30px;
          display: block;
          margin: 0 auto;
        }

        span {
          font-size: 9px;
        }
      }
    }
  }
}

table {
  width: 100%;
  line-height: 24px;
  tr:nth-child(2n) {
    background: #222;
  }

  tr {
    cursor: pointer;
  }

  tr.selected {
    td {
      color: #fff;
    }
  }

  th,
  td {
    padding: 5px;
  }
  th {
    color: #ccc;
    text-align: start;
    font-weight: bold;
    border-bottom: 1px solid #777;
  }
  td {
    font-size: 11px;
    color: #eee;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
    }
  }
}

form {
  .form-field {
    margin: 0 0 10px 0;
  }

  a {
    border-bottom: 1px dashed #777;
    color: #ccc;
    text-decoration: none;
    font-weight: 100;
    font-size: 11px;
    line-height: 20px;
  }

  input {
    display: block;
    line-height: 28px;
    border: none;
    background: #444;
    padding: 0 5px;
    border-radius: 5px;
    width: 100%;
    color: #fff;

    box-sizing: border-box;
  }

  label {
    font-weight: bold;
    color: #ccc;
    line-height: 28px;
  }

  button {
    margin: 15px 0;
    padding: 5px 10px;
    background: none;
    border: 1px solid #ccc;
    color: #ccc;
    font-weight: bold;
    border-radius: 5px;
    font-size: 11px;
  }

  .links {
    margin: 0 5px;
    line-height: 24px;
  }
}
