aside {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  box-sizing: border-box;
  padding: 30px 0;

  &.second {
    padding: 0;
    width: calc(100% - 480px);
  }
}

.map {
  margin: 45px auto;
  padding: 0 30px;
  img {
    margin: 0 auto;
    display: block;
  }
}
