<div *ngIf="model?.general?.versions?.docker" class="box">

    <section>

        <div class="title">
            Templates
        </div>
        <div *ngFor="let template of templates" class="app">

            <div class="title">

                <img *ngIf="template.logo" [src]="template.logo" alt="">

                {{template.name}} {{template.version}}

            </div>

            <p class="desc">
                {{template.description}}

            </p>

            <div class="buttons">
                <button (click)="installApp(template)">
                    Install
                </button>
                <a *ngIf="template.website" [href]="template.website">Website</a>
            </div>


            <!-- <ul *ngIf="container.installed">
                <li>
                    Image: <span>{{container.image}}</span>
                </li>
                <li>
                    Restarts: <span>{{container.restartCount}}</span>
                </li>
                <li>
                    State: <span>{{container.state}}</span>
                </li>

                <li>
                    Created At: <span>{{container.createdAt | date}}</span>
                </li>

                <li>
                    Started At: <span>{{container.startedAt | date}}</span>
                </li>

                <li>
                    Ports:
                    <ul>
                        <li *ngFor="let item of container.ports">
                            local
                            <span> {{item.PrivatePort}} </span> ->
                            public
                            <span> {{item.PublicPort || 'N/A'}}</span>
                        </li>
                    </ul>
                </li>

            </ul> -->
        </div>

    </section>
    <section>

        <div class="title">
            Installed Apps
        </div>

        <div *ngFor="let app of apps" class="app">

            <div class="title">

                <img *ngIf="app.logo" [src]="app.logo" alt="">

                {{app.name}} {{app.version}}

            </div>

            <ul class="variables">
                <li *ngFor="let item of app.variables">
                    <label for="">{{item.name}}</label>
                    <input type="text" readonly [value]="item.value">
                </li>
            </ul>

            <div class="buttons">
                <button (click)="uninstallApp(app.id)">
                    Uninstall
                </button>
            </div>

        </div>
    </section>

</div>