<div *ngIf="model?.general?.versions?.docker">

    <button (click)="uninstallDocker()">
        Uninstall docker
    </button>


    <ul>
        <li>
            Version: {{model?.general?.versions?.docker}}
        </li>

        <li *ngFor="let container of model?.docker?.containers">
            Container:
            <span>
                {{container.name}}
            </span>
            <ul>
                <li>
                    Image: <span>{{container.image}}</span>
                </li>
                <li>
                    Restarts: <span>{{container.restartCount}}</span>
                </li>
                <li>
                    State: <span>{{container.state}}</span>
                </li>

                <li>
                    Created At: <span>{{container.createdAt | date}}</span>
                </li>

                <li>
                    Started At: <span>{{container.startedAt | date}}</span>
                </li>

                <li>
                    Ports:
                    <ul>
                        <li *ngFor="let item of container.ports">
                            local
                            <span> {{item.PrivatePort}} </span> ->
                            public
                            <span> {{item.PublicPort || 'N/A'}}</span>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>

    </ul>
</div>


<section *ngIf="!model?.general?.versions?.docker">
    <button (click)="installDocker()">
        Install docker
    </button>

</section>