<div *ngIf="model?.general?.versions?.docker" class="box">

    <button (click)="uninstallDocker()">
        Uninstall docker
    </button>


    <ul>
        <li>
            Version: {{model?.general?.versions?.docker}}
        </li>



        <div *ngFor="let container of containers" class="app">

            <div class="title">

                <img *ngIf="container.showLogo" [src]="'assets/logos/' + container.name.toLowerCase() + '-original.svg'"
                    alt="">

                <img class="invert" *ngIf="!container.showLogo && container.icon"
                    [src]="'assets/icons/solid/' + container.icon + '.svg'" alt="">

                {{container.name}}

            </div>

            <p class="desc">
                {{container.description}}

            </p>

            <div class="buttons">

                <button *ngIf="container.installed && container.name?.toLowerCase() === 'poste'">
                    Admin Panel
                </button>


                <button *ngIf="container.installed && container.name?.toLowerCase() === 'poste'">
                    Web Mail
                </button>

                <button *ngIf="!container.installed" (click)="container.install()">
                    Install
                </button>

                <button *ngIf="container.installed" (click)="container.uninstall()">
                    Uninstall
                </button>
            </div>


            <ul *ngIf="container.installed">
                <li>
                    Image: <span>{{container.image}}</span>
                </li>
                <li>
                    Restarts: <span>{{container.restartCount}}</span>
                </li>
                <li>
                    State: <span>{{container.state}}</span>
                </li>

                <li>
                    Created At: <span>{{container.createdAt | date}}</span>
                </li>

                <li>
                    Started At: <span>{{container.startedAt | date}}</span>
                </li>

                <li>
                    Ports:
                    <ul>
                        <li *ngFor="let item of container.ports">
                            local
                            <span> {{item.PrivatePort}} </span> ->
                            public
                            <span> {{item.PublicPort || 'N/A'}}</span>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </ul>
</div>


<div class="box" *ngIf="!model?.general?.versions?.docker">

    <div class="install">
        <button (click)="installDocker()">
            Install docker
        </button>

        <p>
            Docker enables you to run applications on isolated environment on your remote servers.
        </p>
    </div>

</div>